html    {
    font-size: 20px;
}
.container {
	min-height: 100vh;
	max-width: 1400px;
	margin: auto;
	display: flex;
	align-items: center;
	gap: 10px;
}
/* ===================slider================ */
.slider-window{
	align-self: stretch;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	flex: 1 1 1200px;
	overflow: hidden;
}
.slider-window::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100px;
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
	z-index: 1;
}
.slider-window::after{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right:  0;
	width: 100px;
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
	z-index: 1;
}

.slider-position {
	height: 300px;
	flex: 0 1 930px;
	position: relative;
}
/* ===================img=================== */
.slider-position > img {
	position: absolute;
	top: 0;
	height: 300px;
	max-width: 450px;
	box-sizing: border-box;
	border-radius: 10px;
	border: 10px solid rgb(255, 255, 255);
	box-shadow: 0 0 28px 15px rgb(197, 197, 197);
	transition: 1s linear;
}

/* =================buttons===================*/
.left, .right {
	flex: 1 1 100px;
	height: 100px;
	border: none;
	background-color: rgba(103, 162, 214, 0);
	border-radius: 50%;
	transition: 0.3s;
}
.left:hover, .right:hover {
	transform: scale(1.1);
} 
.left:active{
	transform: translate(-10px,0) scale(1.1);
} 
.right:active {
	transform: translate(10px,0) scale(1.1);
} 
.left {
	background: url(../img/icon/Left.png) no-repeat;
	background-position: center;
	background-size: 90%;
}
.right{
	background: url(../img/icon/Right.png) no-repeat;
	background-position: center;
	background-size: 90%;
}
/* ============================================== */
@media (min-width: 200px) and (max-width: 600px) {
    /* Свойства применяются в пределах от меньшего к большему. */
}

@media (orientation: portrait) {
    /* Если высота экрана больше ширины, свойство применяется */
}
@media (orientation: landscape) {
    /* Если ширина экрана больше высоты, свойство применяется */
}
@import url("main.css") (min-width:481px) and (max-width:768px); 
/* импортируем содержимое файла css, который предназначается для устройств с 
разрешением экрана, находящегося в диапозоне от 481 пикселей до 768 пикселей */




    /* для поддержки старых версий браузера Mozilla */
@-moz-keyframes growElement { 
	/* ключевые кадры */
}

/* для поддержки старых версий браузеров Chrome, Opera, Safari */
@-webkit-keyframes growElement { 
	/* ключевые кадры */
}
/* браузер Internet Explorer. */
@-ms-keyframes growElement { 
	/* ключевые кадры */
}
